<table>
  <thead>
    <th>
      Name
    </th>
    <th>
      Hour
    </th>
    <th>
      Trainer
    </th>
    <th>
      Location
    </th>
    <th>
      Capacity
    </th>
    <th>
      Action
    </th>
  </thead>
  <tr *ngFor="let training of trainings">
    <app-table-detail [trainingDetail]="training" (enroll)="handleEnroll($event)"></app-table-detail>
  </tr>
</table>
<div class="buttonSection">
  <button (click)="handlePrevious()" [disabled]="page == 0">&lt;</button>
  <span> Page {{page}} of {{maxPage-1}} </span>
  <button (click)="handleNext()" [disabled]="page == (maxPage-1)"> &gt; </button>
</div>