<!-- <nav>
  <div>
  {{user.firstName}} {{user.lastName}}
  </div>

  <div (click)="handleSubscription()">
    Subscription
  </div>
  <div (click)="handleHome()">
    Home
  </div>
  <div (click)="handleLogOut()">
    Log Out
  </div>
</nav> -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
      <span> {{user.firstName}} {{user.lastName}} </span>
      <span (click)="handleSubscription()"> Subscription </span>
      <span (click)="handleHome()"> Home </span>
      <span (click)="handleLogOut()"> Log Out </span>
  </mat-toolbar-row>
</mat-toolbar>